In [1]:
import pandas as pd
import numpy as np

In [3]:
from numpy.random import randn
df = pd.DataFrame(randn(5,4),index = 'A B C D E'.split() ,columns='W X Y Z'.split() )

In [4]:
df

          W         X         Y         Z
A  0.299079 -0.213219  0.062786  0.865061
B -1.036403 -0.386755 -1.277148 -0.161285
C  2.143883 -0.305718 -0.771380 -0.720538
D -0.865306 -1.050386 -0.284429 -0.353903
E -1.201301  0.561341 -0.654482  0.739974

In [5]:
df >0

       W      X      Y      Z
A   True  False   True   True
B  False  False  False  False
C   True  False  False  False
D  False  False  False  False
E  False   True  False   True

In [6]:
df [df>0]

          W         X         Y         Z
A  0.299079       NaN  0.062786  0.865061
B       NaN       NaN       NaN       NaN
C  2.143883       NaN       NaN       NaN
D       NaN       NaN       NaN       NaN
E       NaN  0.561341       NaN  0.739974

In [12]:
df [df['Z']>0]

          W         X         Y         Z
A  0.299079 -0.213219  0.062786  0.865061
E -1.201301  0.561341 -0.654482  0.739974

In [15]:
df[df['W']>0]['X']

A   -0.213219
C   -0.305718
Name: X, dtype: float64

In [18]:
df[df['W']>0][['X','W']]

          X         W
A -0.213219  0.299079
C -0.305718  2.143883

In [20]:
boolsr = df['W']>0
result = df[boolsr]
result[['X','Y']]

          X         Y
A -0.213219  0.062786
C -0.305718 -0.771380

In [21]:
df

          W         X         Y         Z
A  0.299079 -0.213219  0.062786  0.865061
B -1.036403 -0.386755 -1.277148 -0.161285
C  2.143883 -0.305718 -0.771380 -0.720538
D -0.865306 -1.050386 -0.284429 -0.353903
E -1.201301  0.561341 -0.654482  0.739974

In [24]:
df[(df['W'] > 0) | (df['Y']<1 )]

          W         X         Y         Z
A  0.299079 -0.213219  0.062786  0.865061
B -1.036403 -0.386755 -1.277148 -0.161285
C  2.143883 -0.305718 -0.771380 -0.720538
D -0.865306 -1.050386 -0.284429 -0.353903
E -1.201301  0.561341 -0.654482  0.739974

In [25]:
df

          W         X         Y         Z
A  0.299079 -0.213219  0.062786  0.865061
B -1.036403 -0.386755 -1.277148 -0.161285
C  2.143883 -0.305718 -0.771380 -0.720538
D -0.865306 -1.050386 -0.284429 -0.353903
E -1.201301  0.561341 -0.654482  0.739974

In [26]:
df.reset_index()

  index         W         X         Y         Z
0     A  0.299079 -0.213219  0.062786  0.865061
1     B -1.036403 -0.386755 -1.277148 -0.161285
2     C  2.143883 -0.305718 -0.771380 -0.720538
3     D -0.865306 -1.050386 -0.284429 -0.353903
4     E -1.201301  0.561341 -0.654482  0.739974

In [27]:
newIdx = 'AA BB CC DD EE'.split()

In [28]:
newIdx

['AA', 'BB', 'CC', 'DD', 'EE']

In [29]:
df['NI'] = newIdx

In [30]:
df

          W         X         Y         Z  NI
A  0.299079 -0.213219  0.062786  0.865061  AA
B -1.036403 -0.386755 -1.277148 -0.161285  BB
C  2.143883 -0.305718 -0.771380 -0.720538  CC
D -0.865306 -1.050386 -0.284429 -0.353903  DD
E -1.201301  0.561341 -0.654482  0.739974  EE

In [31]:
df.set_index('NI')

           W         X         Y         Z
NI
AA  0.299079 -0.213219  0.062786  0.865061
BB -1.036403 -0.386755 -1.277148 -0.161285
CC  2.143883 -0.305718 -0.771380 -0.720538
DD -0.865306 -1.050386 -0.284429 -0.353903
EE -1.201301  0.561341 -0.654482  0.739974

In [32]:
# Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [33]:
outside

['G1', 'G1', 'G1', 'G2', 'G2', 'G2']

In [34]:
inside

[1, 2, 3, 1, 2, 3]

In [35]:
hier_index

MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [38]:
df = pd.DataFrame(np.random.randn(6,2), index=hier_index, columns=['A','B'])
df

             A         B
G1 1  0.699352  0.409607
   2  0.517917  0.873709
   3  1.198887  0.553768
G2 1  0.566846 -0.518798
   2  0.713585  1.449924
   3  0.069294  1.238969

In [47]:
df.loc['G1'].loc[1]

A    0.699352
B    0.409607
Name: 1, dtype: float64

In [48]:
df.index.names

FrozenList([None, None])

In [49]:
df.index.names = ['Group', 'Num']

In [50]:
df.index.names

FrozenList(['Group', 'Num'])

In [51]:
df

                  A         B
Group Num
G1    1    0.699352  0.409607
      2    0.517917  0.873709
      3    1.198887  0.553768
G2    1    0.566846 -0.518798
      2    0.713585  1.449924
      3    0.069294  1.238969

In [56]:
df.loc['G2'].loc[1]['B']

-0.5187983098441892

In [57]:
df.xs('G1')

            A         B
Num
1    0.699352  0.409607
2    0.517917  0.873709
3    1.198887  0.553768

In [58]:
df.xs(2,level='Num')

              A         B
Group
G1     0.517917  0.873709
G2     0.713585  1.449924